.blog-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.blog-container .post-container {
    border: 1px solid #cccccc;
}

.blog-container .post-container .post-container__content {
    padding: 20px;
}

.blog-container .post-container .post-image {
    min-height: 200px;
    background-color: #cccccc;
}
.blog-container .post-meta {
    display: flex;
    justify-content: space-between;
}
.blog-container .post-meta h3 {
    padding-left: 5px;
}

