<ul data-bind="foreach: { data: posts, as: 'post' }">
        <li class="post-container" data-bind="attr: {id: post.id}">
            <div class="post-image"></div>
            <div class="post-container__content">
                <a data-bind="attr: { href: post.url }">
                    <h2 data-bind="text: post.title"></h2>
                </a>
                <div class="post-meta">
                    <p data-bind="text: $parent.getDate(post.published_date)"></p>
                    <h3 data-bind="text: post.author"></h3>
                </div>
                <p data-bind="text: post.content"></p>
            </div>
        </li>
</ul>